# set(중복 제거 기능이 있다.)

 - set은 자동 정렬기능 중복 제거 기능

In [1]:
w=set("deep learning")                      # set 출력은 {}로 출력됨 , 키 밸류 값이 없으므로 딕셔너리는 아님
w

{' ', 'a', 'd', 'e', 'g', 'i', 'l', 'n', 'p', 'r'}

In [2]:
#w[0]
print("x" in w)
print("a" in w)

False
True

In [3]:
set([1,2,3])                  # 리스트로 묶어서 에러 방지

{1, 2, 3}

In [4]:
set([1,2,3,3])                # 중복 제거 기능으로 1,2,3,3에서 1,2,3만 출력

{1, 2, 3}

In [5]:
s=set([1,2,3,3]) 
s

{1, 2, 3}

In [6]:
list(s)

[1, 2, 3]

In [7]:
s2=set([2,4,6])
s2

{2, 4, 6}

In [8]:
s & s2

{2}

# 교집합

In [9]:
s.intersection(s2)  #

{2}

# 합집합

In [10]:
s.union(s2)

{1, 2, 3, 4, 6}

# 차집합

In [11]:
s.difference(s2)

{1, 3}

In [12]:
s.add(10)
s

{1, 2, 3, 10}

In [13]:
s.add(0) 
s

{0, 1, 2, 3, 10}

# 여러개의 데이터 추가하는 경우

In [14]:
s.update([3,4,5])                                
s

{0, 1, 2, 3, 4, 5, 10}

위와 같이 데이터 추가시 중복되는 경우는 중복제거

In [15]:
s.remove(3)
s

{0, 1, 2, 4, 5, 10}

In [16]:
len(s2)

3

In [17]:
s2
s==s2

False

# pop을 이용해서 임의의 데이터 삭제 - 어떤게 제거 될지 모름

In [18]:
s2.pop()

2

In [19]:
 s2

{4, 6}

# discard를 이용해 특정 지정 데이터 삭제

In [20]:
s2.discard(6)
s2

{4}

# sequence 자료형 (set, 딕셔너리 안됨)
 - list
 - range
 - tuple
 - string(문자열)

In [21]:
for i in range(5):
    print(i,end="")

01234

In [22]:
for i in [1,2,3,4]:
    print(i,end =" ")

1 2 3 4

In [23]:
for i in "deep learning":                      
    print(i)

d
e
e
p

l
e
a
r
n
i
n
g

In [24]:
for i in "deep learning":
    print(i, end="")

deep learning

# in연산자 -- 대상 in sequence 객체로 확인이 가능하다

In [25]:
print(3 in [1,2,3])
print("h" in "hello")
print(3 in (1,2))
print(3 in range(1,5))

True
True
False
True

# sequence객체 * 숫자

In [26]:
print([1,2,3] * 5)
print("반갑습니다"*5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
반갑습니다반갑습니다반갑습니다반갑습니다반갑습니다

# 조건문  if문

- 조건문은 데이터 전처리(데이터 수집 후 분석)등에서 많이 사용되며 
- 결과 출력등에도 if문이 사용됨

if문 구조

 - if 조건식 :

In [27]:
acc = 95

In [28]:
if acc>90 and acc<100:
    print("pass")
else:
    print("fail")

pass

In [29]:
if acc>90:
    print("pass")

pass

# pass를 쓰는 경우 아래의 예시를 참조( 건너뛰기 혹은 코드를 결정 못할때)

In [30]:
acc=80

In [31]:
if acc>=90:
    pass
else:
    print("fail")

fail

# 여러개의 문장을 조건에 맞게 수행할 경우

In [32]:
acc = 95
if acc>90:
    print("pass")
    print("king zzang")
    print("next stage")

pass
king zzang
next stage

In [33]:
acc = 80
if acc>90:
    print("pass")
    print("king zzang")
print("next stage")          # 들여쓰기로 인해 위에 두 프린트 출력문이랑은 별개의 문장으로 인식

next stage

In [34]:
acc=95
acc>90

True

if acc>90:
if True

In [35]:
if True or False:  # 둘중 하나가 참이면 참
    print("pass")

pass

In [36]:
if True or True:
    print("pass")

pass

In [37]:
if (1>0) and (0<5):
    print("pass")

pass

# 중첩  if문 ( if문 안에 if문)

In [38]:
if (1>0):
    if(0<5):
        print("pass")

pass

 # else문 -- 조건을 만족하지 못한 경우

boolean(True = 0, False=0)

In [39]:
x = 1
if x%2: # 1== True, 0 == False
    print("odd")
else:
    print("even")

odd

In [40]:
x%2

1

In [41]:
x = 0
if x: # 1== True, 0 == False
    print("odd")
else:
    print("even")

even

In [42]:
x = 0
if x==0: # 1== True, 0 == False
    print("odd")
else:
    print("even")

odd

In [43]:
x=-0.000000000000000000000001
if x:
    print("1입니다")

1입니다

In [44]:
x=0.000000000000000000000001
if x:
    print("1입니다")

1입니다

# 약간 어려운 예제( if else) 조건부 표현식, 조건부에는 문자열 숫자 리스트등

In [45]:
x=1
a=x if x==1 else 0                   #x와 1이 같으면 a에 x를 대입하고 아니면 조건에 따라 0이 들어간다

In [46]:
a

1

In [47]:
if "breaktime":                   # 문자열도 조건식에선 true로 인식
    print("true")

true

In [48]:
if "":                          # 빈 문자열은 거짓으로 본다
    print("true")

In [49]:
if []:                        # 비어있는 경우도 거짓으로 본다
    print("empty")

In [50]:
if[1,2]:
    print("empty")

empty

In [51]:
if len([1,2]):
    print("empty")

empty

# None : 혹시 추후에 보게 된다면 그냥 자료가 없다고 생각

In [52]:
if None:                    # 거짓
    print("msg")

In [53]:
if ():                     #  거짓
    print("empty")
else:
    print("not empty")

not empty

In [54]:
if list():                     #  거짓
    print("empty")
else:
    print("not empty")

not empty

In [55]:
# if 0<x and x<10:
# if 0<x<10:

In [56]:
not True

False

In [57]:
if not 0:
    pass
else:
    print("else")

# if문의 조건이 여러개 있는 경우 사용하는 예 ( elif )
# 이를 중첩해서 사용해야됨

In [58]:
x = 1
if x ==0:
    print("0")
elif x == -1:
    print("-1")
elif x== 1:
    print("1")
else:
    print("999")

1

# for문

In [59]:
#for i in range(1,5):
   # print(i, end=" ")
#for i in range(1,5,3):
   # print(i, end= "")
for i in range(5,1,-1):
    print(i, end=' ')

5 4 3 2

# for문 문자열 예시

In [60]:
#for c in "hello":
for c in ["hi", "hello"]:
    print(c)

hi
hello

In [61]:
for c in "hello":
    print(c)

h
e
l
l
o

In [62]:
#print(reversed("hello"))
for c in reversed("hello"):
    print(c)

o
l
l
e
h

# while문

while True:
    while True:
    if 조건 then break

while 조건식:
    문장

In [63]:
x=1
while x<=10:
    print(x,end = " ")
    x+=1

1 2 3 4 5 6 7 8 9 10

x=1
while True:
    x +=1
    if i==10:
        break
    print(x)

 # 주의 사항
 - while문은 True랑 잘 사용되며 **반복조건(횟수)** 가 정해져 있지 않을떄 break로 안전장치 해주기
 - for문은 ***반복조건(횟수)*** 가 정해져 있을떄

i =1
while True:
    i += 1
    if i <5:
        continue            #  밑으로 이동안하고 반복문의 시작으로 이동
    elif i<10:
        print(i)
    else:                   # 10이 되는 순간 break
        break

In [64]:
i = 1
while True:
    i += 1
    if i ==10:
        print(i)
        break

10

# random 모듈            ( 여기서 random이 모듈명)

아래를 통해 추후 텐서플로 파이토치 등등에서 용어 이해 잘 하기

1. 모듈 : 파일탐색기에서 ***파일***과 같은 역활
2. 패키지 : 폴더와 같다 (패키지 안에는 다른 패키지 혹은 모듈이 있을 수 있다, 모듈(파일), 서브패키지의 모임
3. 라이브러리 : 자주 사용되는 ***기능을 함수단위로 만들어 제공*** ,한개 이상의 모듈 또는 모듈의 집합
4. 플랫폼 : 토대, 기반 즉 우리가 프로그래밍을 할 수 있는 기반 예) 아나콘다, 운영체제(윈도우, 리눅스)등
5. 클래스 : 붕어빵 기계, 도면 
6. 객체 : 만들어진 붕어빵( 실체, 인스턴스), 건물  ***클래스로부터 객체를 만든다***
7. 메서드 : (사냥한다, 이동한다, 먹는다 등등 다양한 동작을 객체가 수행하는 메서드) ***즉 객체가 수행하는 동작***
8. 속성 : 객체의 특성( 캐릭터의 나이, 아이디, 레벨 등등)

 **오버라이딩** : 붕어빵 기계로 부터 잉어빵 기계를 제작 : 정확도와 완성도, 비용, 시간 목적

***random을 통해 난수값을 생성하며 난수란 컴퓨터가 생성하는 임의의 수***

In [65]:
import inspect,random

In [66]:
print(inspect.getfile(random))

C:\Users\user\anaconda3\Lib\random.py

In [67]:
random.random()       # 구조는 모듈:함수(메소스: 랜덤 모듈이 가지고 있는 메소드)

0.04802959104498561

In [68]:
random.randint(1,45)

24

In [82]:
i = 0
while i != 3:
    print(random.randint(1,5))
    i = i+1

3
3
2

# 리스트 내포 ( 좀 어려움------- 제대로 공부하고 이해하기)

In [96]:
s=[1,2,3]
r=[]
for i in s:
    r.append(i*2)
print(r)

[2, 4, 6]

In [97]:
r2=[2*i for i in s]
print(r2)

[2, 4, 6]

In [98]:
r2=[3+i for i in s]
print(r2)

[4, 5, 6]

In [99]:
r3=[i for i in s if i %2 ==1]
# <-----1----->
#                <----2--->
# <-3-> i변수가 초기화
print(r3)

[1, 3]

# 이중 for문 구조

In [100]:
[x for x in range(2,10)]

[2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
for x in range(2,10):                      # 중첩 for문(1번 2번 라인)
    for y in range(1,10):                  
        print(x*y,end=" ")                     # for문 반복구조 2번 3번,,,,,1번 4번5 번
    print() 
    print("="*50)

2 4 6 8 10 12 14 16 18
==================================================
3 6 9 12 15 18 21 24 27
==================================================
4 8 12 16 20 24 28 32 36
==================================================
5 10 15 20 25 30 35 40 45
==================================================
6 12 18 24 30 36 42 48 54
==================================================
7 14 21 28 35 42 49 56 63
==================================================
8 16 24 32 40 48 56 64 72
==================================================
9 18 27 36 45 54 63 72 81
==================================================

In [120]:
print([x*y for x in range(2,10) for y in range(2,10)])
#         <---------1--------->
#                                <--------2-------->    
#    <-3->
#                                <-------4--------->
#    <-5->

[4, 6, 8, 10, 12, 14, 16, 18, 6, 9, 12, 15, 18, 21, 24, 27, 8, 12, 16, 20, 24, 28, 32, 36, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 54, 14, 21, 28, 35, 42, 49, 56, 63, 16, 24, 32, 40, 48, 56, 64, 72, 18, 27, 36, 45, 54, 63, 72, 81]

In [134]:
# 구구단에서 3단 5단만 출력

#print([x*y for x in range(2,10) if x ==3 for y in range(1,10)])
#print([x*y for x in range(2,10) if x is 3 for y in range(1,10)])
print([x*y for x in range(2,10) if x==3 or x==5 for y in range(1,10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [133]:
print([x*y for x in range(2,10) for y in range(1,10)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [140]:
# x가 y보다 클떄만 연산을 해라
print([x*y for x in range(2,10) for y in range(1,10) if x>y])

[2, 3, 6, 4, 8, 12, 5, 10, 15, 20, 6, 12, 18, 24, 30, 7, 14, 21, 28, 35, 42, 8, 16, 24, 32, 40, 48, 56, 9, 18, 27, 36, 45, 54, 63, 72]

# 위 까지가 리스트 내포를 이용한 활용 예제