# 리스트

 - 여러개의 자료를 저장할 수 있는 구조

In [1]:
x = 1
a = [10, 20, 30]
a

[10, 20, 30]

In [2]:
p  =['kim', 25, 180, 70, ' female', False, 4.1] 
p

['kim', 25, 180, 70, ' female', False, 4.1]

In [3]:
a1 = []
a2=list()
print(a1)
print(a2)

[]
[]

In [4]:
p  =['kim', 25, 180, 70, ' female', False, 4.1,[100, 90 , 100]] 
p

['kim', 25, 180, 70, ' female', False, 4.1, [100, 90, 100]]

In [5]:
p[4]
p[7]
p[-1]

[100, 90, 100]

In [6]:
p[-1][1]

90

In [7]:
p  =['kim', 25, 180, 70, ' female', False, 4.1,[100, 90 , 100,['sesac', 3, "AI"]]]

In [8]:
p[-1][-1][-1]

'AI'

In [9]:
p[-1][1:3]

[90, 100]

In [10]:
x = [1, 2]
y = [3, 4]

In [11]:
x+y

[1, 2, 3, 4]

In [12]:
"ab"+"cd"

'abcd'

In [13]:
x*5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [14]:
len(x*5)

10

In [15]:
x

[1, 2]

In [16]:
p

['kim', 25, 180, 70, ' female', False, 4.1, [100, 90, 100, ['sesac', 3, 'AI']]]

In [17]:
p

['kim', 25, 180, 70, ' female', False, 4.1, [100, 90, 100, ['sesac', 3, 'AI']]]

# 리스트 변경( 리스트 위치에 값 입력으로 치환)

In [18]:
p[1]=26

In [19]:
p

['kim', 26, 180, 70, ' female', False, 4.1, [100, 90, 100, ['sesac', 3, 'AI']]]

# 리스트 요소삭제 (pop, remove, del)

In [20]:
p

['kim', 26, 180, 70, ' female', False, 4.1, [100, 90, 100, ['sesac', 3, 'AI']]]

In [21]:
del p[3]

In [22]:
p

['kim', 26, 180, ' female', False, 4.1, [100, 90, 100, ['sesac', 3, 'AI']]]

In [23]:
del p[6][2]

In [24]:
p

['kim', 26, 180, ' female', False, 4.1, [100, 90, ['sesac', 3, 'AI']]]

In [25]:
p

['kim', 26, 180, ' female', False, 4.1, [100, 90, ['sesac', 3, 'AI']]]

In [26]:
p[6]

[100, 90, ['sesac', 3, 'AI']]

In [27]:
del p[4:]
p

['kim', 26, 180, ' female']

# 리스트 범위  Range(지정한 숫자 앞까지 생성)

In [28]:
range(5)          # 0부터 시작하여 4까지 범위까지 5는 제외

range(0, 5)

In [29]:
list(range(5))

[0, 1, 2, 3, 4]

In [30]:
list(range(1,5))

[1, 2, 3, 4]

In [31]:
list(range(1,5,2))

[1, 3]

In [32]:
list(range(-10,5,2))

[-10, -8, -6, -4, -2, 0, 2, 4]

In [33]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [34]:
list(range(-5,10,-2))

[]

# 리스트에 자료 추가 방식(append, extend, insert)

* append : 데이터를 하나만 추가
          - 가장 마지막 위치에 데이터 추가)
* extend : 기존 리스트 확장
* insert : 특정 위치에 데이터 추가
           - 특정 위치에 데이터를 추가할 수 있다)

In [35]:
x= list(range(10,100,20))
x

[10, 30, 50, 70, 90]

# append  예시

In [36]:
x.append(100)
x

[10, 30, 50, 70, 90, 100]

x.append(200,300)

인수란 해당 함수에 전달되는 것 : argument 오류시 이해하기

In [37]:
x.append(200)
x

[10, 30, 50, 70, 90, 100, 200]

In [38]:
x.append([300,400])
x

[10, 30, 50, 70, 90, 100, 200, [300, 400]]

In [39]:
x[-1]

[300, 400]

In [40]:
del x[-1]
x

[10, 30, 50, 70, 90, 100, 200]

In [41]:
x

[10, 30, 50, 70, 90, 100, 200]

 # 리스트에 여러개의 요소값을 추가할 경우  extend 사용

In [42]:
x.extend([300,400])
x

[10, 30, 50, 70, 90, 100, 200, 300, 400]

# 내가 원하는 특정위치에 요소값 추가하는 경우 insert

In [43]:
x

[10, 30, 50, 70, 90, 100, 200, 300, 400]

In [44]:
x.insert(4,80)
x

[10, 30, 50, 70, 80, 90, 100, 200, 300, 400]

In [45]:
x.insert(0,0)
x

[0, 10, 30, 50, 70, 80, 90, 100, 200, 300, 400]

In [46]:
len(x)

11

In [47]:
len(x)
x.insert(len(x),500)
x

[0, 10, 30, 50, 70, 80, 90, 100, 200, 300, 400, 500]

In [48]:
x[4:4]=[55,65]                #덮어씌우지않고 추가하는 방법
x

[0, 10, 30, 50, 55, 65, 70, 80, 90, 100, 200, 300, 400, 500]

In [49]:
x.reverse()            #역순서
x

[500, 400, 300, 200, 100, 90, 80, 70, 65, 55, 50, 30, 10, 0]

# 리스트 특정위치 자료 삭제법

 # pop사용법: 마지막 위치에 저장된 요소 삭제

In [50]:
x.pop()
x

[500, 400, 300, 200, 100, 90, 80, 70, 65, 55, 50, 30, 10]

위에 처럼 마지막에 있는 요소 0이 삭제가 되었다

# 특정 위치에 자료 삭제법

In [51]:
x.pop(9)

55

In [52]:
x

[500, 400, 300, 200, 100, 90, 80, 70, 65, 50, 30, 10]

# pop과 del의 공통점은 데이터 삭제와 특정위치의 요소 삭제라는게 공통점이다

 # remove함수 사용, del, pop과는 다르다,

In [53]:
x.remove(50)
x

[500, 400, 300, 200, 100, 90, 80, 70, 65, 30, 10]

  extend함수

In [54]:
x.extend([5,1])
x

[500, 400, 300, 200, 100, 90, 80, 70, 65, 30, 10, 5, 1]

In [55]:
x+=[0,-10]                 
x

[500, 400, 300, 200, 100, 90, 80, 70, 65, 30, 10, 5, 1, 0, -10]

위는 x = x + [0,-10]과 같은 뜻

# 리스트 요소 정렬 sort 함수: 리스트 함수 오름차순으로 정렬

sort() : 오름차순 ascending sort

In [56]:
a = [5, 1, 2, 3, 4]
a.sort()
a

[1, 2, 3, 4, 5]

In [57]:
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [58]:
a.sort(reverse=False)
a

[1, 2, 3, 4, 5]

In [59]:
a2 = [50,30,20,10,40]                  
sorted(a2)

[10, 20, 30, 40, 50]

In [60]:
a2

[50, 30, 20, 10, 40]

sort는 정렬한 상태가 그대로 유지
그러나 sorted는 임시로 새로운 리스트가 하나 만들어 지는것

In [61]:
a2 = [50,30,20,10,40]
a3=sorted(a2)
a3

[10, 20, 30, 40, 50]

In [62]:
x

[500, 400, 300, 200, 100, 90, 80, 70, 65, 30, 10, 5, 1, 0, -10]

# del x[:]  리스트 요소 전체 삭제

In [63]:
x.clear()
x

[]

In [64]:
len(x)

0

In [65]:
a=list(range(10,20,2))
a

[10, 12, 14, 16, 18]

In [66]:
b = a         # 오른쪽값을 왼쪽 변수에 할당을 하라는 뜻 
              # k 리스트를 서로 공유 그래서 아래와 같이 결과값이 바뀌는 경우가 발생
              # =를 사용해서 서로 공유가 되는 경우가 발생하게 된다 따로 분리해서 사용하는 경우도 있다
             # 아래에  H를 인용하기

In [67]:
b[2]

14

In [68]:
b[2]=20
b

[10, 12, 20, 16, 18]

In [69]:
a                         #a를 변경하지 않았는데 b랑 같이 같이 나온경우 해석은 위에  k해석

[10, 12, 20, 16, 18]

In [70]:
a2 = list(range(10,20,2))
a2

[10, 12, 14, 16, 18]

In [71]:
b2=a2

In [72]:
b2=a2.copy()                  # H  copy를 통해서 두 인수가 바뀌지 않았다.

In [73]:
b2

[10, 12, 14, 16, 18]

In [74]:
a2[2]=20
a2

[10, 12, 20, 16, 18]

In [75]:
b2

[10, 12, 14, 16, 18]

In [76]:
 a is b

True

In [77]:
a2 is b2

False

# is는 두 변수가 같은 값을 공유하고 있는지 확인하는 방법

# 튜플 (테이터 변경, 수정, 삭제가 안된다, 데이터 읽기만 가능)
            - 그 외엔 리스트랑 비슷하다
            - 튜플은 잘 안쓰고 리스트를 많이 사용
            - 사용하는 경우는 원본 훼손을 하지말아여하거나 사본등등 만드는 것처럼 데이터 요소값에 변화가 생기면 안되는 경우

In [78]:
a = (1, 2, 3)                  #  튜플 예시

In [79]:
a2 = ("kim",10,20)              #문자 숫자 혼합사용가능

In [82]:
a3 = (10)                        #요소가 하나인 경우는 값으로 생각하면된다 튜플이 아니다
a3                              # ,(콤마)가 없기 떄문에 튜플이 아니다

10

In [83]:
a4 = (10,)                     #데이터 요소가 하나가 구성되어있는 걸로 구성할 경우 ,(콤마)를 붙여서 튜플로 만들어야한다
a4                              #()괄호안에 ,(콤마)가 있기 떄문에 튜플로 인식한다

(10,)

In [85]:
a2

('kim', 10, 20)

- del a2[1]                    # 변경 삭제 수정이 안된다
- a[1] = 100

In [89]:
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

In [91]:
list(t)                       # 튜플을 리스트로 변환하는 경우 리스트 함수를 사용

[0, 1, 2, 3, 4]

In [94]:
tuple(list(t))               # 리스트를 튜플로 변환하는 경우 튜플 함수 사용

(0, 1, 2, 3, 4)

In [106]:
x,y,z=1,2,3
x,y,z=[1,2,3]
x,y,z=(1,2,3)

In [107]:
x=[1,2,3]

In [108]:
x1,x2,x3=x

In [109]:
x1

1

In [110]:
x2

2

In [111]:
x3

3

In [119]:
input().split()                #분리된 결과가 리스트에 저장이 되어서 리스트값으로 출력됨

10 20

['10', '20']

In [120]:
a1,a2=input().split()

10 20

In [121]:
a1

'10'

In [122]:
a2

'20'

# 10과 20을 문자열로 분리시켜서 출력 문자는 산술연산이 안됨, split은 문자열 분리 함수

In [129]:
# a1+1             #int로 바꿔서 실행시켜야된다 a1+1은 a1이 문자열이라 실행이 안됨
int(a1)+1

11

In [130]:
a2

'20'

# in 연산자 많이 쓰이므로 꼭 복습하기......결과는 TRUE OR FALSE로 나옴

In [135]:
print(10 in [10,20,30])
print(10 not in [10,20,30])
print(100 not in[10,20,30])

True
False
True

In [137]:
print(10 in (10,20,30))

True

In [139]:
10 in range(10,40,10)

True

In [144]:
"a" in "hi hello"

False

In [145]:
"hi" in 'hi hello'

True

In [156]:
#range(0,5) + range(5,10)               # 현재 시점에서는 안되지만 리스트 구조로 변환하면됨
#range(5,10)
list(range(0,5))+list(range(5,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [168]:
"hi"+"hello"
"hi"+str(1)               # str로 문자열로 바꿔서 정수, 실수등등 다 문자로 변환해서 실행이 가능하다
"hi"+str(1.5)

'hi1.5'

In [176]:
len("hello")

5

In [179]:
len("안녕하세요")

5

# 바이트 수 확인하는 방법

In [195]:
len('hello'.encode("utf-8"))
len('안녕하세요'.encode("utf-8"))                            # 몇 바이트인지 계산한것, 바이트 수 확인하는것

15

In [207]:
x=list(range(1,10,2))
x

[1, 3, 5, 7, 9]

In [208]:
x[1:3]

[3, 5]

In [206]:
x[1:3]=["a","b"]                       # 슬라이싱방법으로 1:3에 a,b를 추가 
x

[1, 'a', 'b', 7, 9]

In [210]:
x[1:5:2]=["i","j"]                  # 1,3번에 i,j를 추가
x

[1, 'i', 5, 'j', 9]